<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<bean id="userAction" class="crm.huyong.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="userService" class="crm.huyong.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="crm.huyong.dao.UserDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocations" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql:///crm" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="customerAction" class="crm.huyong.action.CustomerAction">
		<property name="customerService" ref="customerService"></property>
	</bean>
	
	<bean id="customerService" class="crm.huyong.service.CustomerService">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	
	<bean id="customerDao" class="crm.huyong.dao.CustomerDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	<bean id="linkManAction" class="crm.huyong.action.LinkManAction">
		<property name="linkManService" ref="linkManService"></property>
		<property name="customerService" ref="customerService"></property>
	</bean>
	
	<bean id="linkManService" class="crm.huyong.service.LinkManService">
		<property name="linkManDao" ref="linkManDao"></property>	
	</bean>
	
	<bean id="linkManDao" class="crm.huyong.dao.LinkManDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	
	
	<bean id="visitAction" class="crm.huyong.action.VisitAction">
		<property name="visitService" ref="visitService"></property>
		<property name="customerService" ref="customerService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	
	<bean id="visitService" class="crm.huyong.service.VisitService">
		<property name="visitDao" ref="visitDao"></property>
	</bean>
	
	<bean id="visitDao" class="crm.huyong.dao.VisitDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>